@use '../../styles/variables' as vr;
@use '../../styles/mixins' as mx;

.TimeCard {
    position: absolute;
    left: 160px; 
    width: calc(100% - 180px);
    padding: 20px; 
    border-radius: 12px;
    min-height: 129px;
    @include mx.Row(flex-start, flex-start);
    column-gap: 12px;
    &Consultaion {
        @extend .TimeCard;
        background: vr.$secondarydark;
        border: 1px solid vr.$secondary;
    }
    &Vacination {
        @extend .TimeCard;
        background: vr.$primarybglight;
        border: 1px solid vr.$primary;
    }
    & .Vicon {
        padding: 10px;
        background: vr.$secondarybglight;
        border-radius: 100px;
    }
    & .Oicon {
        padding: 10px;
        background: vr.$primarylight;
        border-radius: 100px;
    }
    &Accounts {
        @include mx.Row(flex-start); 
        column-gap: 4px;
        margin-top: 12px;
        & button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }
    & h5 {
        color: vr.$paragaprimary; 
        font-size: 16px; 
        font-weight: 700; 
        letter-spacing: 0.32px;
        line-height: normal;
        margin-bottom: 8px;
    }
    & p, & a {
        color: vr.$paragaprimary;  
        font-size: 12px; 
        font-weight: 500; 
        letter-spacing: 0.24px;
        line-height: normal;
    }
}