
.body {
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    min-width: 970px; 
}
.main { 
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.asside {
    max-width: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    transition: all 300ms;
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &Active {
        @extend .asside;
        max-width: 400px;
    }
}