@use '../styles/mixins' as mx;
@use '../styles/variables' as vr;

.Time {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &Table {
        position: relative;
    }
    &Slot {
        border-bottom: 1px solid vr.$bordercolor; 
        box-sizing: border-box;
        & div:first-child {
            width: 140px;
            height: 99px;
            border-right: 1px solid vr.$bordercolor;
            @include mx.Row;
        }
    }
}