@use '../styles/mixins' as mx;
@use '../styles/variables' as vr;

.Modal {
    display: none;
    &Active {
        display: block;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
     
    }
    &Content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 550px;
        width: 100%; 
        background: white;
        padding: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        & h5 {
            color: vr.$backgoundprimary; 
            @include mx.TextContent(700, 24px, 0.48px);
            margin: 20px 0;
        }
        & h6 {
            color: vr.$paragsecondary; 
            @include mx.TextContent(800, 14px, 0.28px); 
            margin: 20px;
            margin-top: 10px;
        }
    }
    &Body {
        @include mx.Row(flex-start, flex-start);
        & > div {
            width: 100%;
        } 
    }  
}
.Selects {
    width: 100%;
    @include mx.Row;
    column-gap: 12px;
    & select {
        width: 100%;
        padding: 8px;
        margin: 12px;
        border-radius: 8px;
    }
}

.TimeInputs {
    width: 100%;
    @include mx.Row;
    column-gap: 12px;
    & input {
        width: 100%;
        padding: 8px;
        margin: 12px;
        border-radius: 8px; 
    }
}
.Actions {
    width: 100%;
    @include mx.Row(flex-end);
    column-gap: 12px;
    & button { 
        padding: 12px 20px;
        margin: 20px;
        width: 200px;
        border-radius: 12px;
        &:first-child {
            border: none;
            background: vr.$primary;
            color: white; 
            &:hover {
                background: vr.$primarydark ;
            }
        }
        &:last-child {
            background: white;
            color: vr.$paragsecondary;
            border: 1px solid vr.$paragsecondary;
            &:hover {
                border: none;
                color: vr.$primary;
                background: vr.$primarylight ;
            }
        }
    }
}
.Detail {
    width: 100%;
    padding: 8px;
    margin: 12px;
}